/* GLOBAL RULES */
.topbar-container div {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.topbar-contacts {
  display: inline-block;
}
.topbar-contacts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
}
.topbar-contacts ul li {
  display: inline-block;
  margin: 0;
  padding: 5px 12px;
}
.topbar-contacts ul li a {
  font-weight: 400;
  padding: 5px 1px;
}

.FX__Header__cta {
  text-align: right;
  margin-top: 20px;
}

#verify-email-form {
  margin: 0;
  padding: 0;
}

.signup-box {
  display: inline-block;
  margin: 20px 0;
  padding: 10px;
}
.signup-box div {
  display: inline;
  margin: 0;
  padding: 0;
}
.signup-box input {
  padding: 5px;
  margin-right: 5px;
}
.signup-box span {
  display: block;
  margin: 0;
  padding: 0;
}
.signup-box button {
  margin: 0;
}

@media (max-width: 480px) {
  .signup-box input {
    margin: 15px 0;
  }
}
.fx-footer {
  display: table;
  width: 100%;
  padding: 10px 0;
  font-size: 13px;
}

#footer-menu {
  padding: 10px 0;
}
#footer-menu ul {
  margin-bottom: 10px;
  padding: 0;
}

#footer-regulatory {
  padding: 10px 0;
  font-size: 10px;
  text-align: justify;
}

#footer-last {
  padding-top: 10px;
}

.fx-panel {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  min-height: 320px;
}
.fx-panel p {
  padding: 0 20px;
}
.fx-panel ul {
  margin-left: 0;
}

.fx-panel-title {
  padding: 0 20px;
}
.fx-panel-title img {
  width: 35px;
  float: left;
  margin-top: 0;
  margin-right: 15px;
}

.fx-panel-item {
  padding: 15px 10px 15px 15px;
  display: block;
  height: 70px;
}
.fx-panel-item div {
  display: table-cell;
  text-align: left;
  padding: 0 0 0 15px;
  vertical-align: top;
}

@media (max-width: 980px) {
  .fx-panel, .fx-panel-item {
    height: auto;
  }
}
.fx-section {
  padding: 50px 0;
}
.fx-section .fx-features-title {
  margin-bottom: 50px;
}

.fx-section-sm {
  padding: 25px 0;
}

.fx-home-header {
  width: 100%;
  /* for IE 6 */
  background: linear-gradient(transparent, transparent), url("../images/header_imgfx-2x.jpg");
  background-size: cover;
  padding: 40px 20px 30px;
  text-align: center;
}
.fx-home-header p {
  padding: 10px 0;
}

.home-header-cta {
  margin-top: 0;
  padding: 20px;
}
.home-header-cta .button {
  display: inline-block;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.fx-home-intro p:first-child {
  padding-left: 90px;
}

@media (max-width: 767px) {
  .fx-home-intro p:first-child {
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: center;
  }
}
.fx-title {
  text-align: center;
  margin: 12px 0;
  padding: 10px;
}

.p-title {
  padding-bottom: 40px;
}

.fx-feature-box {
  text-align: center;
  margin-top: 30px;
}

.fx-box img {
  max-width: 100px;
  margin-bottom: 15px;
}

.fx-mission-header {
  width: 100%;
  /* for IE 6 */
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/img_fx_2@2x.jpg");
  background-size: cover;
  padding: 20px 20px 50px;
}
.fx-mission-header img {
  max-height: 300px;
}

.fx-value-item {
  min-height: 120px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fx-platform-options {
  text-align: center;
}
.fx-platform-options .row {
  margin-bottom: 30px;
}
.fx-platform-options .row:first-child {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .fx-platform-options .col-md {
    margin-bottom: 30px;
  }
}
.fx-about-header {
  width: 100%;
  /* for IE 6 */
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/about-background.png");
  background-size: cover;
  padding: 0 20px;
}

.contact-phone {
  margin-top: 20px;
  margin-bottom: 10px;
}

#cs_telephone_number {
  width: 90%;
}

#phone-result {
  padding-left: 10px;
  text-align: left;
  margin: 20px 0;
}

.phone-note {
  margin-right: 50px;
  text-align: left;
  padding-right: 40px;
}

.champion-features th {
  text-align: left;
}
.champion-features td:first-child {
  width: 45%;
}
.champion-features td:nth-child(2), .champion-features td:last-child {
  width: 20%;
}
.champion-features td:nth-child(3) {
  width: 15%;
}

.fx-package {
  text-align: center;
}
.fx-package td {
  padding: 10px;
}

@media (max-width: 768px) {
  .fx-package {
    margin-top: 50px;
  }
}
.centered {
  text-align: center;
}

.space-sm {
  width: 130px;
  display: inline;
}

.w-300 {
  max-width: 200px;
}

.wide span {
  width: 90%;
}

.clean-input:focus {
  outline: none;
}

.contacts-title {
  padding-bottom: 30px;
}

.fx-tb {
  border-top: 1px solid #DEDEDE;
}

.fx-rb {
  border-right: 1px solid #DEDEDE;
}

.fx-bb {
  border-bottom: 1px solid #DEDEDE;
}

.fx-lb {
  border-left: 1px solid #DEDEDE;
}

.fx-hr {
  border-top: 1px solid #C2C2C2;
  margin: 30px 0;
}

.app-info {
  min-height: 70px;
}

.border {
  border: 1px solid #DEDEDE;
}

.fx-material {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s;
}
.fx-material:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.25s;
}

.store-button {
  display: inline-table;
  width: 140px;
  height: auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s;
}
.store-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.25s;
}

.img-lg {
  margin: 20px 0;
}

.img-xl {
  margin: 50px 0;
}

fieldset {
  border: 1px solid #DEDEDE;
  padding: 5px;
  margin-bottom: 10px;
}
fieldset .form-label {
  text-align: right;
  margin: 10px 0;
}
fieldset .form-input {
  margin: 10px 0;
}

.submit-holder {
  text-align: center;
}
.submit-holder p {
  display: block;
}

.hidden {
  display: none !important;
}

.champion-accounts th {
  text-align: center;
}
.champion-accounts td:first-child {
  width: 25%;
}
.champion-accounts td:nth-child(2), .champion-accounts td:nth-child(3), .champion-accounts td:last-child {
  width: 25%;
  text-align: center;
}

.binary-accounts th {
  text-align: center;
}
.binary-accounts td {
  width: 50%;
  text-align: center;
  vertical-align: middle;
}

.forex-accounts td {
  width: 50%;
  vertical-align: middle;
}

.bottom {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  top: 100%;
}

.fx-divider {
  height: 5px;
  margin: 20px 0;
}

.fx-divider-xl {
  height: 5px;
  margin: 40px 0;
}

.lg-padding {
  padding: 20px;
}

.txt-right {
  text-align: right;
}

.notes {
  text-align: left;
}
.notes thead, .notes th {
  background: none !important;
}

.topbar {
  padding: 3px 0 !important;
}

.languages {
  padding: 0;
  margin: 0;
  z-index: 9;
}

.language {
  padding: 0 5px;
}

.top-nav-menu a {
  color: #FFF !important;
}

.logo-parent {
  padding: 11px 0;
  margin: 0;
}

.binary-logo-text {
  padding: 0;
}
.binary-logo-text div {
  width: 150px !important;
  margin-top: 8px;
}

.test {
  background-color: #013365;
}

select[disabled=disabled] {
  color: #C2C2C2;
}

.big-error-code {
  color: #C2C2C2;
  font-size: 10em;
  font-weight: normal;
}

.fx-payment-methods table {
  margin: 20px 0;
}
.fx-payment-methods table tr {
  height: 60px;
}
.fx-payment-methods table th, .fx-payment-methods table td {
  text-align: left;
  border-bottom: none;
}
.fx-payment-methods table .fx-subheader {
  background-color: #fff;
  font-weight: 100;
  border-top: solid 1px #DEDEDE;
}

a:hover {
  text-decoration: none !important;
}

.lightbox {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2000000000;
}

.lightbox > div {
  display: table-cell;
  vertical-align: middle;
}

.lightbox > div > div {
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  width: 44em;
  text-align: center;
  background-color: #fff;
  border-radius: 2px;
  max-height: 80vh;
  overflow: auto;
}

.fx-advisors {
  background: url("../images/symbols/advisors.svg");
}

.fx-algorithmic {
  background: url("../images/symbols/algorithmic.svg");
}

.fx-analysis {
  background: url("../images/symbols/analysis.svg");
}

.fx-analytical-tools {
  background: url("../images/symbols/analytical_tools.svg");
}

.fx-cent {
  background: url("../images/symbols/cent.svg");
}

.fx-cfd {
  background: url("../images/symbols/cfd.svg");
}

.fx-customise {
  background: url("../images/symbols/customise.svg");
}

.fx-customer-service {
  background: url("../images/symbols/cs.svg");
}

.fx-customised-trade {
  background: url("../images/symbols/customised_trade.svg");
}

.fx-deposit-withdrawal {
  background: url("../images/symbols/deposit_withdrawal.svg");
}

.fx-desktop-mobile {
  background: url("../images/symbols/devices.svg");
}

.fx-devices {
  background: url("../images/symbols/devices.svg");
}

.fx-expert {
  background: url("../images/symbols/expert.svg");
}

.fx-fast-execution {
  background: url("../images/symbols/fast_execution.svg");
}

.fx-forex {
  background: url("../images/symbols/forex.svg");
}

.fx-futures {
  background: url("../images/symbols/futures.svg");
}

.fx-hassle-free {
  background: url("../images/symbols/hassle_free.svg");
}

.fx-king {
  background: url("../images/symbols/king.svg");
}

.fx-library {
  background: url("../images/symbols/library.svg");
}

.fx-license {
  background: url("../images/symbols/license.svg");
}

.fx-licensed-broker {
  background: url("../images/symbols/licensed_broker.svg");
}

.fx-lowcost {
  background: url("../images/symbols/lowcost.svg");
}

.fx-market-info {
  background: url("../images/symbols/market_info.svg");
}

.fx-metals {
  background: url("../images/symbols/metals.svg");
}

.fx-monitor-with-mouse-cursor {
  background: url("../images/symbols/monitor-with-mouse-cursor.svg");
}

.fx-no-commission {
  background: url("../images/symbols/no_commission.svg");
}

.fx-no-deal {
  background: url("../images/symbols/no_deal.svg");
}

.fx-optimise-trade {
  background: url("../images/symbols/optimise_trade.svg");
}

.fx-rebate {
  background: url("../images/symbols/rebate.svg");
}

.fx-technical {
  background: url("../images/symbols/technical.svg");
}

.fx-technical-indicator {
  background: url("../images/symbols/technical_indicator.svg");
}

.fx-trading-signal {
  background: url("../images/symbols/trading_signal.svg");
}

.fx-trader {
  background: url("../images/symbols/trader.svg");
}

.fx-type-accounts {
  background: url("../images/symbols/type_accounts.svg");
}

.fx-wide-markets {
  background: url("../images/symbols/wide_markets.svg");
}

.fx-worldwide {
  background: url("../images/symbols/worldwide.svg");
}

.fx-unbeatable {
  background: url("../images/symbols/unbeatable.svg");
}

.fx-step-one {
  background: url("../images/binary_options/step_one.svg");
}

.fx-step-two {
  background: url("../images/binary_options/step_two.svg");
}

.fx-step-three {
  background: url("../images/binary_options/step_three.svg");
}

.fx-define-position {
  background: url("../images/binary_options/define_position.svg");
}

.fx-245-icon {
  background: url("../images/symbols/245_icon.svg");
}

.fx-hili-icon {
  background: url("../images/symbols/hili_icon.svg");
}

.fx-lever-icon {
  background: url("../images/symbols/lever_icon.svg");
}

.fx-virtual-money {
  background: url("../images/symbols/vm_icon.svg");
}

.fx-ecw {
  background: url("../images/symbols/ecw.svg");
}

.fx-account-password {
  background: url("../images/symbols/cp_icon.svg");
  margin-left: 0 !important;
}

.fx-cashier-password {
  background: url("../images/symbols/cp_icon.svg");
  margin-left: 0 !important;
}

.fx-manage-your-funds {
  background: url("../images/symbols/chp_icon.svg");
  margin-left: 0 !important;
}

.fx-webtrader {
  background: url("../images/symbols/wt_icon.svg");
  margin-left: 0 !important;
}

.fx-mt5 {
  background: url("../images/symbols/mt5_icon.svg");
  margin-left: 0 !important;
}

.fx-xlg, .fx-lg, .fx-md, .fx-sm, .fx-xs, .fx-xxs {
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.fx-xlg {
  width: 400px;
  height: 300px;
}

.fx-lg {
  width: 140px;
  height: 140px;
}

.fx-md {
  width: 100px;
  height: 100px;
}

.fx-sm {
  width: 60px;
  height: 60px;
}

.fx-xs {
  width: 35px;
  height: 35px;
}

.fx-xxs {
  width: 30px;
  height: 30px;
}

body .top-nav-menu li a {
  padding: 30px;
}

.main-nav > li > ul {
  box-sizing: content-box;
}

/* stylelint-disable selector-list-comma-newline-after, selector-list-comma-space-after */
#int_bank_wire, #local_bank_transfer, #western_union, #citadel, #visa,
#mastercard, #cuo-credit-card, #moneybrokers, #neteller, #moneta,
#webmoney, #qiwi, #icbc, #fastpay, #perfect_money, #yandex, #paysafecard, #okpay {
  width: 72px;
  height: 57px;
  background-image: url("../images/payment_methods_sprite_1.png");
  position: absolute;
}

/* stylelint-enable selector-list-comma-newline-after, selector-list-comma-space-after */
#int_bank_wire {
  background-position: -7px -9px;
}

#local_bank_transfer {
  background-position: -90px -9px;
}

#western_union {
  background-position: -174px -9px;
}

#citadel {
  background-position: -257px -9px;
}

#visa {
  background-position: -338px -10px;
}

#mastercard {
  background-position: -421px -11px;
}

#cuo-credit-card {
  background-position: -108px -214px;
}

#moneybrokers {
  background-position: -8px -72px;
}

#neteller {
  background-position: -90px -72px;
}

#moneta {
  background-position: -174px -72px;
}

#webmoney {
  background-position: -257px -73px;
}

#qiwi {
  background-position: -10px -136px;
}

#icbc {
  background-position: -9px -348px;
}

#fastpay {
  background-position: -12px -429px;
}

#perfect_money {
  background-position: -106px -428px;
}

#yandex {
  background-position: -102px -348px;
}

#paysafecard {
  background-position: -372px -425px;
}

#okpay {
  background-position: -285px -426px;
}

.app-store-badge, .google-play-badge {
  background-repeat: no-repeat;
  width: 135px;
  height: 40px;
  display: inline-block;
}

.app-store-badge {
  background-image: url("../images/buttons/appstore.svg");
}

.google-play-badge {
  background-image: url("../images/buttons/googleplay.svg");
}
