/* GLOBAL RULES */
/*
 * To replace characters in a string
 */
/*
 * To create an optimized svg url
 */
html {
  height: 100%;
  overflow-x: hidden;
}
html body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  position: inherit;
}
html body #champion-container {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page-title {
  border-bottom: 1px solid #DEDEDE;
  padding-bottom: 10px;
}

.section-title {
  padding-bottom: 5px;
  color: #fff;
  border-bottom: 2px solid #DEDEDE;
  display: inline-block;
  width: auto;
}

button {
  white-space: nowrap;
}

.white {
  color: #fff;
}

h1.main-title {
  border-bottom: 2px solid #F2F2F2;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.separator.fill-bg-color {
  margin: 40px 0;
}

.gray-bg-color {
  background: #DEDEDE;
}

.image-small {
  max-width: 150px;
}

.image-medium {
  max-width: 250px;
}

.topbar-container div {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.topbar-contacts {
  display: inline-block;
}
.topbar-contacts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
}
.topbar-contacts ul li {
  display: inline-block;
  margin: 0;
  padding: 5px 12px;
}
.topbar-contacts ul li a {
  font-weight: 400;
  padding: 5px 1px;
}

.FX__Header__cta {
  text-align: right;
  margin-top: 20px;
}

.menu-container {
  margin: 0 15px;
}
.menu-container #mobile_menu_icon span {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 12' width='32' height='32'%3E%3Cg fill='white'%3E%3Cpath d='M0 0h18v2h-18zM0 5h18v2h-18zM0 10h18v2h-18z'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-left: auto;
  margin-right: 10px;
}
.menu-container .menu-icon {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 12' width='32' height='32'%3E%3Cg fill='black'%3E%3Cpath d='M0 0h18v2h-18zM0 5h18v2h-18zM0 10h18v2h-18z'/%3E%3C/g%3E%3C/svg%3E") no-repeat center;
  height: 75px;
}
.menu-container #all-accounts li.has-sub, .menu-container #all-accounts li.has-sub ul, .menu-container #all-accounts li.has-sub li {
  margin: 0;
}
.menu-container #all-accounts li.has-sub a {
  line-height: 1.4em;
  padding: 7px 0;
}
.menu-container #all-accounts li.has-sub ul {
  padding: 0;
}
.menu-container #all-accounts li.has-sub ul a {
  background: #DEDEDE;
}

@keyframes pulsing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes pulsing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.pulser {
  -webkit-animation: pulsing 3s infinite ease;
  animation: pulsing 3s infinite ease;
}

#verify-email-form {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}
#verify-email-form #email {
  text-align: center;
  width: 280px;
}

.signup-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
  padding: 10px;
}
.signup-box div {
  display: inline;
  margin: 0;
  padding: 0;
}
.signup-box input {
  margin-right: 5px;
  margin-bottom: 5px;
}
.signup-box span {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
}
.signup-box button {
  margin: 0;
}

#main-signup {
  margin-left: auto;
}
#main-signup .signup-button {
  margin: auto;
  text-align: right;
  padding: 0;
}
#main-signup .signup-button li {
  margin-top: 0;
}

.license-box {
  display: inline-block;
  margin: 20px 0;
  padding: 10px;
}
.license-box div {
  display: inline;
  margin: 0;
  padding: 0;
}
.license-box img {
  width: 65px;
}

#footer .fx-footer {
  display: table;
  width: 100%;
  padding: 10px 0;
  font-size: 13px;
}
#footer #footer-menu {
  padding: 10px 0;
}
#footer #footer-menu h4 {
  color: #FFF;
  margin-bottom: 0.4em;
  font-weight: 700;
  font-size: 13px;
}
#footer #footer-menu ul {
  margin: 0 0 30px;
  padding: 0;
}
#footer #footer-menu ul li {
  margin-top: 0.3em;
}
#footer #footer-menu ul li a {
  font-size: 13px;
}
#footer #footer-menu ul li a:hover {
  text-decoration: underline !important;
}
#footer #footer-menu ul.social-network {
  text-align: right;
  width: 100%;
  margin: 0;
}
#footer #footer-menu ul.social-network li {
  display: inline-block;
  margin: 0 0 5px 5px;
}
#footer #footer-menu ul.social-network li img {
  width: 30px;
}
#footer #footer-regulatory {
  padding: 25px 0 0;
  font-size: 10px;
  text-align: justify;
}
#footer #footer-last {
  padding: 10px 0;
  font-size: 13px;
}
#footer #end_note {
  line-height: 25px;
  text-align: center;
  background: #C2C2C2;
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
}
#footer #end_note, #footer #end_note a {
  color: #000;
  font-size: 11px;
}

.fx-panel-container {
  background: #fff;
}

.fx-panel {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 320px;
}
.fx-panel p {
  padding: 0 20px;
}
.fx-panel ul {
  margin-left: 0;
}

.fx-panel-title {
  padding: 0 20px;
}
.fx-panel-title img {
  width: 35px;
  float: left;
  margin-top: 0;
  margin-right: 15px;
}

.fx-panel-item {
  padding: 15px 10px 15px 15px;
  display: block;
  height: 150px;
}
.fx-panel-item div {
  text-align: center;
  padding: 10px 12px 0;
  vertical-align: top;
}

.fx-section {
  padding: 20px 0 40px;
}
.fx-section .fx-features-title {
  margin-bottom: 50px;
}

.fx-section-sm {
  padding: 25px 0;
}

.mt5-header {
  background-image: url("../images/forex.png");
}

.cfd-header {
  background-image: url("../images/CFDs.png");
}

.fx-home-header {
  width: 100%;
  /* for IE 6 */
  background: linear-gradient(transparent, transparent), url("../images/header_imgfx-2x.jpg");
  background-size: cover;
  padding: 40px 20px 30px;
  text-align: center;
}
.fx-home-header p {
  padding: 10px 0;
}

.home-header-cta {
  margin-top: 0;
  padding: 20px;
}
.home-header-cta .button {
  display: inline-block;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.fx-home-intro p:first-child {
  padding-left: 90px;
}

.fx-title {
  text-align: center;
  margin: 12px 0;
  padding: 10px;
}

.fx-feature-box {
  text-align: center;
  margin-top: 30px;
}

.fx-box img {
  max-width: 100px;
  margin-bottom: 15px;
}

.fx-mission-header {
  width: 100%;
  /* for IE 6 */
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/img_fx_2@2x.jpg");
  background-size: cover;
  padding: 20px 20px 50px;
}
.fx-mission-header img {
  max-height: 300px;
}

.fx-value-item {
  min-height: 120px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fx-platform-options {
  text-align: center;
}
.fx-platform-options .row {
  margin-bottom: 30px;
}
.fx-platform-options .row:first-child {
  margin-bottom: 10px;
}

.fx-about-header {
  background: url("../images/about-background.png") no-repeat center center;
  background-size: cover;
  height: 400px;
  padding: 0 20px;
}

.fx-about-image {
  width: 100%;
  height: auto;
}

.contact-phone {
  margin-top: 20px;
  margin-bottom: 10px;
}

#phone-result {
  text-align: left;
  margin: 20px 0;
}

#contacts-emails-container {
  padding: 0;
  background: url("../images/c_img.png");
}
#contacts-emails-container .contacts-emails {
  padding-bottom: 30px;
  color: #fff;
}
#contacts-emails-container .contacts-emails .row {
  padding: 25px 0 0;
}
#contacts-emails-container .contacts-emails .row.emails {
  padding: 25px 0;
  border-bottom: 1px solid #DEDEDE;
}

.phone-note {
  margin-right: 50px;
  text-align: left;
  padding-right: 40px;
}

.champion-features th {
  text-align: left;
}
.champion-features td:first-child {
  width: 45%;
}
.champion-features td:nth-child(2), .champion-features td:last-child {
  width: 20%;
}
.champion-features td:nth-child(3) {
  width: 15%;
}

.fx-package {
  text-align: center;
}
.fx-package td {
  padding: 10px;
}

.space-sm {
  width: 130px;
  display: inline;
}

.w-300 {
  max-width: 200px;
}

.wide span {
  width: 90%;
}

.clean-input:focus {
  outline: none;
}

.contacts-title {
  padding-bottom: 30px;
}

.fx-tb {
  border-top: 1px solid #DEDEDE;
}

.fx-rb {
  border-right: 1px solid #DEDEDE;
}

.fx-bb {
  border-bottom: 1px solid #DEDEDE;
}

.fx-lb {
  border-left: 1px solid #DEDEDE;
}

.fx-hr {
  border-top: 1px solid #C2C2C2;
  margin: 30px 0;
}

.app-info {
  min-height: 70px;
}

.border {
  border: 1px solid #DEDEDE;
}

.fx-material {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s;
}
.fx-material:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.25s;
}

.store-button {
  display: inline-table;
  width: 140px;
  height: auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s;
}
.store-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.25s;
}

.img-lg {
  margin: 20px 0;
}

.img-xl {
  margin: 50px 0;
}

fieldset {
  border: none !important;
  padding: 5px;
  margin-bottom: 10px;
}

.form-row {
  width: 350px;
  max-width: 100%;
  margin-bottom: 20px;
}
.form-row select, .form-row input:not([type='checkbox']), .form-row textarea {
  width: 100%;
}
.form-row.checkbox label {
  display: inline;
}

.center-text .form-row {
  width: auto;
}

.submit-row {
  margin: 40px 0;
}

.champion-accounts th {
  text-align: center;
}
.champion-accounts td:first-child {
  width: 25%;
}
.champion-accounts td:nth-child(2), .champion-accounts td:nth-child(3), .champion-accounts td:last-child {
  width: 25%;
  text-align: center;
}

.binary-accounts th {
  text-align: center;
}
.binary-accounts td {
  width: 50%;
  text-align: center;
  vertical-align: middle;
}

.forex-accounts td {
  width: 50%;
  vertical-align: middle;
}

.bottom {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  top: 100%;
}

.fx-divider {
  height: 5px;
  margin: 20px 0;
}

.fx-divider-xl {
  height: 5px;
  margin: 40px 0;
}

.lg-padding {
  padding: 20px !important;
}

.txt-right {
  text-align: right;
}

.notes {
  text-align: left;
}
.notes thead, .notes th {
  background: none !important;
}

.topbar {
  padding: 0 !important;
  height: 30px;
}
.topbar .menu-container {
  line-height: 30px;
}
.topbar .upgrade-message a {
  padding: 0 10px;
  background: #FFF;
  color: #013365;
}

.languages {
  padding: 0;
  margin: 0;
  z-index: 9;
}

.language {
  padding: 0 5px;
}

.logo-parent {
  padding: 0;
  margin: 0;
}

.test {
  background-color: #013365;
}

select[disabled=disabled] {
  color: #C2C2C2;
}

.big-error-code {
  color: #C2C2C2;
  font-size: 10em;
  font-weight: normal;
}

.fx-payment-methods table {
  margin: 20px 0;
}
.fx-payment-methods table tr {
  height: 60px;
}
.fx-payment-methods table th, .fx-payment-methods table td {
  text-align: left;
  border-bottom: none;
}
.fx-payment-methods table .fx-subheader {
  background-color: #fff;
  font-weight: 100;
  border-top: solid 1px #DEDEDE;
}

a:hover {
  text-decoration: none !important;
}

.lightbox {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2000000000;
}

.lightbox > div {
  display: table-cell;
  vertical-align: middle;
}

.lightbox > div > div {
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  width: 44em;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  max-height: 80vh;
  overflow: auto;
}

.small-spinner .barspinner {
  height: 15px;
  margin: 7px;
}

/* Multi-level numbered list */
ol {
  counter-reset: item1;
}

ol li {
  display: block;
  position: relative;
}

ol li:before {
  content: counter(item1) ".";
  counter-increment: item1;
  position: absolute;
  margin-right: 100%;
  right: 10px;
  /* space between number and text */
}

ol ol {
  counter-reset: item2;
}

ol ol li:before {
  content: counter(item1) "." counter(item2) ".";
  counter-increment: item2;
}

ol ol ol {
  counter-reset: item3;
}

ol ol ol li:before {
  content: counter(item1) "." counter(item2) "." counter(item3) ".";
  counter-increment: item3;
}

ol ol ol ol {
  counter-reset: item4;
}

ol ol ol ol li:before {
  content: counter(item1) "." counter(item2) "." counter(item3) "." counter(item4) ".";
  counter-increment: item4;
}

ul.no-padding, ul.no-padding li {
  padding-left: 0;
  margin-left: 0;
}

#profile-tabs li {
  white-space: normal !important;
  margin-bottom: 30px;
}

.underline-title {
  border-bottom: 2px solid #004385;
  padding-bottom: 10px;
  width: 350px;
}

.icon-ok {
  color: #1ec522;
  font-size: 18px;
}

.icon-remove {
  color: #ea202d;
  font-size: 18px;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-left {
  margin-left: 0 !important;
}

.box .no-margin-left {
  padding-left: 20px !important;
}

.has-tabs * {
  outline: none;
}
.has-tabs li.col-sm {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 1vw;
  margin-top: 1px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.has-tabs li.col-sm a {
  white-space: normal;
  text-align: center;
  width: 100%;
}
.has-tabs li.col-sm.ui-tabs-active a {
  padding-bottom: 1px !important;
}

img.float-right {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding: 10px 0;
}

.separator-vertical {
  width: 2px;
}

.center-align {
  margin-left: auto !important;
  margin-right: auto !important;
}

.margin-top-bottom {
  margin-top: 10px;
  margin-bottom: 10px;
}

.middle-align {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.no-gutters {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.fx-cashier .button {
  margin-right: 20px;
}

#msg_notification {
  font-size: 13px;
  padding: 3px 0;
  line-height: 20px;
  display: none;
}

img.responsive {
  max-width: 100%;
}

iframe {
  width: 100%;
}

.margin-bottom-3 {
  margin-bottom: 3em;
}

.fx-refer-a-friend .box {
  position: relative;
}
.fx-refer-a-friend .number {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
  background: #004385;
  color: #fff;
  padding: 10px;
  font-size: 22px;
}

.fx-advisors {
  background: url("../images/symbols/advisors.svg");
}

.fx-algorithmic {
  background: url("../images/symbols/algorithmic.svg");
}

.fx-analysis {
  background: url("../images/symbols/analysis.svg");
}

.fx-analytical-tools {
  background: url("../images/symbols/analytical_tools.svg");
}

.fx-cent {
  background: url("../images/symbols/cent.svg");
}

.fx-cfd {
  background: url("../images/symbols/cfd.svg");
}

.fx-customise {
  background: url("../images/symbols/customise.svg");
}

.fx-customer-service {
  background: url("../images/symbols/cs.svg");
}

.fx-customised-trade {
  background: url("../images/symbols/customised_trade.svg");
}

.fx-deposit-withdrawal {
  background: url("../images/symbols/deposit_withdrawal.svg");
}

.fx-desktop-mobile {
  background: url("../images/symbols/devices.svg");
}

.fx-devices {
  background: url("../images/symbols/devices.svg");
}

.fx-expert {
  background: url("../images/symbols/expert.svg");
}

.fx-fast-execution {
  background: url("../images/symbols/fast_execution.svg");
}

.fx-forex {
  background: url("../images/symbols/forex.svg");
}

.fx-futures {
  background: url("../images/symbols/futures.svg");
}

.fx-hassle-free {
  background: url("../images/symbols/hassle_free.svg");
}

.fx-king {
  background: url("../images/symbols/king.svg");
}

.fx-library {
  background: url("../images/symbols/library.svg");
}

.fx-license {
  background: url("../images/symbols/license.svg");
}

.fx-licensed-broker {
  background: url("../images/symbols/licensed_broker.svg");
}

.fx-lowcost {
  background: url("../images/symbols/lowcost.svg");
}

.fx-market-info {
  background: url("../images/symbols/market_info.svg");
}

.fx-metals {
  background: url("../images/symbols/metals.svg");
}

.fx-monitor-with-mouse-cursor {
  background: url("../images/symbols/monitor-with-mouse-cursor.svg");
}

.fx-no-commission {
  background: url("../images/symbols/no_commission.svg");
}

.fx-no-deal {
  background: url("../images/symbols/no_deal.svg");
}

.fx-optimise-trade {
  background: url("../images/symbols/optimise_trade.svg");
}

.fx-rebate {
  background: url("../images/symbols/rebate.svg");
}

.fx-technical {
  background: url("../images/symbols/technical.svg");
}

.fx-technical-indicator {
  background: url("../images/symbols/technical_indicator.svg");
}

.fx-trading-signal {
  background: url("../images/symbols/trading_signal.svg");
}

.fx-trader {
  background: url("../images/symbols/trader.svg");
}

.fx-type-accounts {
  background: url("../images/symbols/type_accounts.svg");
}

.fx-wide-markets {
  background: url("../images/symbols/wide_markets.svg");
}

.fx-worldwide {
  background: url("../images/symbols/worldwide.svg");
}

.fx-unbeatable {
  background: url("../images/symbols/unbeatable.svg");
}

.fx-245-icon {
  background: url("../images/symbols/245_icon.svg");
}

.fx-hili-icon {
  background: url("../images/symbols/hili_icon.svg");
}

.fx-lever-icon {
  background: url("../images/symbols/lever_icon.svg");
}

.fx-virtual-money {
  background: url("../images/symbols/vm_icon.svg");
}

.fx-ecw {
  background: url("../images/symbols/ecw.svg");
}

.fx-account-password {
  background: url("../images/symbols/cp_icon.svg");
  margin-left: 0 !important;
}

.fx-cashier-password {
  background: url("../images/symbols/cp_icon.svg");
  margin-left: 0 !important;
}

.fx-manage-your-funds {
  background: url("../images/symbols/chp_icon.svg");
  margin-left: 0 !important;
}

.fx-webtrader {
  background: url("../images/symbols/wt_icon.svg");
  margin-left: 0 !important;
}

.fx-mt5 {
  background: url("../images/symbols/mt5_icon.svg");
  margin-left: 0 !important;
}

.fx-no-deposit {
  background: url("../images/symbols/nd_icon.svg");
}

.fx-test-platform {
  background: url("../images/symbols/tp_icon.svg");
}

.fx-earn {
  background: url("../images/symbols/earn.svg");
  margin-top: 10px;
}

.fx-form {
  background: url("../images/symbols/form.svg");
  margin-top: 10px;
}

.fx-email {
  background: url("../images/symbols/email.svg");
  margin-top: 10px;
}

.fx-xlg, .fx-lg, .fx-md, .fx-sm, .fx-xs, .fx-xxs {
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.fx-xlg {
  width: 400px;
  height: 300px;
}

.fx-lg {
  width: 140px;
  height: 140px;
}

.fx-md {
  width: 100px;
  height: 100px;
}

.fx-sm {
  width: 60px;
  height: 60px;
}

.fx-xs {
  width: 35px;
  height: 35px;
}

.fx-xxs {
  width: 30px;
  height: 30px;
}

#header {
  border: 0 !important;
}
#header .top-nav-menu {
  float: right;
  margin-left: auto;
}
#header .top-nav-menu li a {
  height: auto;
  padding: 25px 15px;
  border-bottom: 4px solid transparent;
  color: #FFF !important;
}
#header .top-nav-menu li a.active {
  border-bottom-color: #DEDEDE;
}
#header .top-nav-menu li a li {
  border-bottom: 3px solid #004385;
  margin-bottom: -4px;
}
#header .top-nav-menu li ul {
  z-index: 10;
}
#header .top-nav-menu ul li a {
  padding: 10px 15px;
}
#header .top-nav-menu ul li a.active {
  border-bottom: none;
}

.main-nav > li > ul {
  box-sizing: content-box;
  margin-top: 0 !important;
}

.logo > div {
  height: 45px;
}

.logo, .logo-dark {
  height: 45px;
}

body .has-tabs .ui-tabs-panel {
  padding-left: 0;
  padding-right: 0;
}

#indices-cfd-contract-specs table th {
  max-width: 180px;
}

#fx-profile .ui-tabs-nav, #fx-profile .ui-tabs-panel {
  width: auto;
  float: none;
}

#ui-timepicker-div, #ui-timepicker-div:before, #ui-timepicker-div:after, #ui-datepicker-div, #ui-datepicker-div:before, #ui-datepicker-div:after {
  transition: none;
}

.ui-datepicker.ui-widget-content, .ui-timepicker-table.ui-widget-content {
  border: 0;
}
.ui-datepicker.ui-corner-all, .ui-datepicker .ui-corner-all, .ui-timepicker-table.ui-corner-all, .ui-timepicker-table .ui-corner-all {
  border-radius: 0;
}

#ui-timepicker-div .ui-state-default, #ui-timepicker-div .ui-widget-content .ui-state-default {
  width: 80%;
}

button .barspinner.white {
  height: 13px;
  margin: 3px auto;
}

.slick-slide ul.bullet {
  padding: 1.25em 0 1.25em 1.25em;
  margin: 0;
}
.slick-slide a:focus {
  outline: none;
}

/* stylelint-disable selector-list-comma-newline-after, selector-list-comma-space-after */
#int_bank_wire, #local_bank_transfer, #western_union, #citadel, #visa,
#mastercard, #cuo-credit-card, #moneybrokers, #neteller, #moneta,
#webmoney, #qiwi, #icbc, #fastpay, #perfect_money, #yandex, #paysafecard, #okpay {
  width: 72px;
  height: 57px;
  background-image: url("../images/payment_methods_sprite_1.png");
  position: absolute;
}

/* stylelint-enable selector-list-comma-newline-after, selector-list-comma-space-after */
#int_bank_wire {
  background-position: -7px -9px;
}

#local_bank_transfer {
  background-position: -90px -9px;
}

#western_union {
  background-position: -174px -9px;
}

#citadel {
  background-position: -257px -9px;
}

#visa {
  background-position: -338px -10px;
}

#mastercard {
  background-position: -421px -11px;
}

#cuo-credit-card {
  background-position: -108px -214px;
}

#moneybrokers {
  background-position: -8px -72px;
}

#neteller {
  background-position: -90px -72px;
}

#moneta {
  background-position: -174px -72px;
}

#webmoney {
  background-position: -257px -73px;
}

#qiwi {
  background-position: -10px -136px;
}

#icbc {
  background-position: -9px -348px;
}

#fastpay {
  background-position: -12px -429px;
}

#perfect_money {
  background-position: -106px -428px;
}

#yandex {
  background-position: -102px -348px;
}

#paysafecard {
  background-position: -372px -425px;
}

#okpay {
  background-position: -285px -426px;
}

#mt_account_management #accounts_list .acc-box {
  margin-bottom: 10px;
}
#mt_account_management #accounts_list .acc-box > div {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 2px solid transparent;
}
#mt_account_management #accounts_list .acc-box > div:hover, #mt_account_management #accounts_list .acc-box > div.active {
  border-bottom-color: #004385;
}
#mt_account_management #accounts_list .acc-box > div .no-account {
  margin-bottom: 20px;
}
#mt_account_management #accounts_list .acc-box > div .no-account .info {
  padding: 10px;
  padding-left: 0;
  font-size: 0.9rem;
  height: 120px;
}
#mt_account_management #accounts_list .acc-box > div .no-account .info a:before {
  content: ' ';
  display: block;
  margin-top: 5px;
}
#mt_account_management #accounts_list .acc-box > div .loading {
  margin: 75px 0;
}
#mt_account_management #accounts_list .acc-box > div .acc-info {
  padding-top: 10px;
}
#mt_account_management #accounts_list .acc-box > div .acc-info div {
  font-size: 0.9rem;
  line-height: 1.6em;
}
#mt_account_management #accounts_list .acc-box > div .acc-info div:nth-child(even) {
  word-break: break-all;
}
#mt_account_management #accounts_list .acc-box > div .acc-actions {
  margin-top: auto;
  padding: 10px 0;
  font-size: 0.8rem;
}
#mt_account_management #accounts_list .acc-box > div .acc-actions a {
  display: inline-block;
  width: 64px;
  text-align: center;
  margin: 0 3px;
}
#mt_account_management #accounts_list .acc-box > div .acc-actions a img {
  height: 32px;
  margin-bottom: 7px;
}
#mt_account_management .fst-container {
  width: 100%;
  padding-right: 10px;
  margin-top: 50px;
}
#mt_account_management .fst-container #fst_action {
  position: relative;
}
#mt_account_management .fst-container #fst_action legend {
  background: #004385;
  color: #fff;
  padding: 5px 10px;
  margin-left: 15px;
}
#mt_account_management .fst-container #fst_action .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 32px;
  height: 32px;
  background: #004385 url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='14' height='14'%3E%3Cpath fill='white' d='M50,5,45,0,25,20,5,0,0,5,20,25,0,45l5,5L25,30,45,50l5-5L30,25Z'/%3E%3C/svg%3E") no-repeat center;
}
#mt_account_management .fst-container #fst_action .close:hover {
  background-color: #013365;
}
#mt_account_management .fst-container #fst_action button .barspinner.white {
  height: 13px;
  margin: 3px;
}
#mt_account_management .txt-left {
  text-align: left;
}

.app-store-badge, .google-play-badge {
  background-repeat: no-repeat;
  width: 135px;
  height: 40px;
  display: inline-block;
}

.app-store-badge {
  background-image: url("../images/buttons/appstore.svg");
}

.google-play-badge {
  background-image: url("../images/buttons/googleplay.svg");
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: 350px !important;
}
.select2-container .select2-selection--single, .select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.select2-container .select2-selection--single .select2-selection__rendered, .select2-container .select2-selection--multiple .select2-selection__rendered {
  padding-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select2-container .select2-selection--single {
  height: 28px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-right: 20px;
}
.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}
.select2-container .select2-selection--multiple {
  min-height: 32px;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
}
.select2-container .select2-search--inline {
  float: left;
  margin: 0;
}
.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}

.select2-dropdown {
  background-color: #fff;
  border: 1px solid #F2F2F2;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 1px 5px;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}
.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}
.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}
.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #F2F2F2;
  border-radius: 5px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #000;
  line-height: 28px;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #C2C2C2;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #C2C2C2 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #DEDEDE;
  cursor: default;
}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}
.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #DEDEDE;
  cursor: default;
}
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #C2C2C2 transparent;
  border-width: 0 4px 5px;
}
.select2-container--default .select2-selection--multiple {
  background-color: #fff;
  border: 1px solid #004385;
  border-radius: 5px;
  cursor: text;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
  font-size: 17px;
}
.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #C2C2C2;
  margin-top: 5px;
  float: left;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #F2F2F2;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #C2C2C2;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #000;
}
.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}
.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #C2C2C2;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #DEDEDE;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #004385;
  color: #fff;
}
.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid 1px #004385;
  outline: 0;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #F2F2F2;
}
.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
}
.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}
.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default[dir='rtl'] .select2-selection--single .select2-selection__clear {
  float: left;
}
.select2-container--default[dir='rtl'] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}
.select2-container--default[dir='rtl'] .select2-selection--multiple .select2-selection__choice {
  float: right;
  margin-left: 5px;
  margin-right: auto;
}
.select2-container--default[dir='rtl'] .select2-selection--multiple .select2-selection__placeholder {
  float: right;
}
.select2-container--default[dir='rtl'] .select2-selection--multiple .select2-search--inline {
  float: right;
}
.select2-container--default[dir='rtl'] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--classic .select2-selection--single {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 5px;
  outline: 0;
  background-image: linear-gradient(to bottom, #fff 50%, #DEDEDE 100%);
  background-repeat: repeat-x;
  /* stylelint-disable-next-line function-name-case */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}
.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #004385;
}
.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #000;
  line-height: 28px;
}
.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}
.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #C2C2C2;
}
.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #DEDEDE;
  border: none;
  border-left: 1px solid #F2F2F2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: linear-gradient(to bottom, #DEDEDE 50%, #C2C2C2 100%);
  background-repeat: repeat-x;
  /* stylelint-disable-next-line function-name-case */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
}
.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #C2C2C2 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}
.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #004385;
}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #C2C2C2 transparent;
  border-width: 0 4px 5px;
}
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: linear-gradient(to bottom, #fff 0, #DEDEDE 50%);
  background-repeat: repeat-x;
  /* stylelint-disable-next-line function-name-case */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: linear-gradient(to bottom, #DEDEDE 50%, #fff 100%);
  background-repeat: repeat-x;
  /* stylelint-disable-next-line function-name-case */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
}
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #F2F2F2;
}
.select2-container--classic.select2-container--open .select2-dropdown {
  border: 1px solid #F2F2F2;
}
.select2-container--classic .select2-selection--multiple {
  background-color: #fff;
  border: 1px solid #F2F2F2;
  border-radius: 5px;
  cursor: text;
  outline: 0;
}
.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #004385;
}
.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}
.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #F2F2F2;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #C2C2C2;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #000;
}
.select2-container--classic .select2-dropdown {
  background-color: #fff;
  border: 1px solid transparent;
}
.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}
.select2-container--classic .select2-dropdown--below {
  border-top: none;
}
.select2-container--classic .select2-results__option[role=group] {
  padding: 0;
}
.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: #DEDEDE;
}
.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #004385;
  color: #fff;
}
.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}
.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #F2F2F2;
  outline: 0;
}
.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none;
}
.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--classic[dir='rtl'] .select2-selection--single .select2-selection__clear {
  float: left;
}
.select2-container--classic[dir='rtl'] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #F2F2F2;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}
.select2-container--classic[dir='rtl'] .select2-selection--multiple .select2-selection__choice {
  float: right;
  margin-left: 5px;
  margin-right: auto;
}
.select2-container--classic[dir='rtl'] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container[dir='rtl'] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list, .slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:after, .slick-track:before {
  content: '';
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
  width: 100%;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

#slider_wrapper.loading-state {
  visibility: hidden;
  height: 200px;
  overflow: hidden !important;
}

.slick-slide {
  height: 500px;
  margin: 0;
  width: 100%;
}
.slick-slide div {
  width: 100%;
}
.slick-slide ul {
  padding: 0;
  margin: 0;
  height: 100%;
}
.slick-slide ul li {
  width: 100%;
  margin: 0;
  height: 100%;
}
.slick-slide ul li h2 {
  line-height: 1.9rem;
}
.slick-slide ul li a img {
  width: 12px;
  display: inline;
  margin-left: 5px;
}

.slick-dots {
  right: 15px;
  position: relative;
  float: right;
  margin: 0;
}
.slick-dots li {
  display: inline-block;
  padding: 0 5px;
  line-height: 0;
  margin: 0;
}
.slick-dots li button {
  padding: 0;
  width: 10px;
  height: 10px;
  font-size: 0;
  border-radius: 100%;
  background: #F2F2F2;
}
.slick-dots li.slick-active button {
  background: #004385;
}

.slider-footer {
  position: absolute;
  width: 100%;
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.65);
}
.slider-footer .row {
  margin: 0 auto;
  width: 100%;
}

.slider-text {
  padding: 30px;
  display: table;
}
.slider-text .center-items {
  display: table-cell;
  vertical-align: middle;
}
.slider-text .container, .slider-text .container .row {
  height: 100%;
}
.slider-text .container h3, .slider-text .container p, .slider-text .container .row, .slider-text .container .row h3, .slider-text .container .row p, .slider-text .container .row .row {
  padding: 10px;
}
.slider-text .slide-list li {
  height: auto !important;
}

.large-slider-text {
  display: block;
  height: 100%;
}
.large-slider-text .container, .large-slider-text .container .row {
  height: 100%;
}
.large-slider-text .container h3, .large-slider-text .container p, .large-slider-text .container .row, .large-slider-text .container .row h3, .large-slider-text .container .row p, .large-slider-text .container .row .row {
  padding: 0;
}

.license-box-icon {
  background: url("../images/symbols/cfx_l.svg") center center no-repeat;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100px;
  margin: 0;
  background-position: center center;
  max-width: 80px;
}

#slide-1 {
  background: url("../images/slider/banner1.jpg") no-repeat center center;
  background-size: cover;
  height: 500px;
  width: 100%;
}
#slide-1 .row {
  margin: 0 auto;
}

#slide-2 {
  background: url("../images/slider/banner2.jpg") no-repeat center center;
  background-size: cover;
  height: 500px;
  width: 100%;
}

#slide-3 {
  background: url("../images/slider/banner3.jpg") no-repeat center center;
  background-size: cover;
  height: 500px;
  width: 100%;
}

#slide-4 {
  background: url("../images/slider/banner4.jpg") no-repeat center center;
  background-size: cover;
  height: 500px;
  width: 100%;
}

#slide-5 {
  background: url("../images/slider/banner5.jpg") no-repeat center center;
  background-size: cover;
  height: 500px;
  width: 100%;
}

#slide-6 {
  background: url("../images/slider/banner6.jpg") no-repeat center center;
  background-size: cover;
  height: 500px;
  width: 100%;
}

#slide-7 {
  background: url("../images/slider/banner7.jpg") no-repeat center center;
  background-size: cover;
  height: 500px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .slider-footer {
    position: relative;
    background: #F2F2F2;
  }

  .license-box {
    color: #000;
  }
}
@media screen and (max-width: 575px) {
  .slider-footer {
    position: relative;
    background: #F2F2F2;
  }

  .license-box {
    color: #000;
  }

  .signup-box div {
    text-align: center;
  }

  .signup-box button {
    margin: 0 0 15px;
  }
}
@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }

  .signup-box input {
    margin: 15px 0;
  }
}
@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }

  .fx-home-intro p:first-child {
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: center;
  }

  .fx-platform-options .col-md {
    margin-bottom: 30px;
  }

  .fx-package {
    margin-top: 50px;
  }

  .table-container {
    overflow-x: auto;
  }
}
@media (min-width: 768px) {
  .hidden-sm-up {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }

  .top-nav-menu a {
    font-size: 0.9rem !important;
  }

  .fx-panel, .fx-panel-item {
    height: auto;
  }
}
@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg-up {
    display: none !important;
  }
}
@media screen and (min-width: 1100px) {
  .container {
    width: 1100px;
  }
}
#fx-trading-times table {
  margin-top: -2px;
}
#fx-trading-times tr:nth-child(1) th {
  background-color: #C2C2C2;
}
#fx-trading-times th {
  line-height: 30px;
}
#fx-trading-times th.submarket-name {
  border-bottom: 1px solid #C2C2C2 !important;
  text-align: center !important;
}
#fx-trading-times th.asset {
  width: 24%;
}
#fx-trading-times th.opens, #fx-trading-times th.closes, #fx-trading-times th.settles {
  width: 12%;
}
#fx-trading-times th.upcomingevents {
  width: 40%;
}
#fx-trading-times td.asset {
  font-weight: 700;
}

#fx-limits th {
  width: 80%;
}
#fx-limits td.market {
  text-transform: capitalize;
  font-weight: bold;
}
#fx-limits td.submarket {
  padding-left: 50px;
}
